<%- include('partials/header'); -%>

  <div class="container">
    <div class="panel-body">
      <center>
        <h2> Patient </h2>
      </center>
      <a style="float: left;" href="/receptionist/<%=AccessID%>" class="btn btn-primary">Back</a>
      <a style="float: right;" href="../../managePatient/<%=AccessID%>/add" class="btn btn-primary">Add Patient</a>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Update/Delete</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function (data) { %>
            <tr>
              <td>
                <%= data.ID %>
              </td>
              <td>
                <%= data.name %>
              </td>
              <td>
                <%= data.age %>
              </td>
              <td>
                <%= data.phoneNumber %>
              </td>
              <td>
                <%= data.email %>
              </td>
              <td>
                <a href="../../managePatient/<%=AccessID%>/update/<%=data.ID%>"
                  class="btn btn-success btn-sm">Update</a>
                <a href="../../managePatient/<%=AccessID%>/delete/<%=data.ID%>"
                  class="btn btn-warning btn-sm">Delete</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('partials/footer'); -%>